---
title: Home
layout: default
---

{% assign people = site.data.people %}
{% assign matteo = "Prof. " | append: people.matteucci.name %}

<h3>Welcome!</h3>
<p>
  I am Ph.D candidate in Computer Science at Politecnico di Milano, advised by
  {% include link.html name=matteo href=people.matteucci.scholar short=people.matteucci.shortname %}.
</p>
<p>During my Ph.D I was also a research intern at {% include link.html name="NVIDIA" href="https://www.nvidia.com/en-us/research" %} and {% include link.html name="NNAISENSE" href="https://nnaisense.com" %}. 
  <br>Previously, I proudly worked at the development of {% include link.html name="Horus" href="https://blogs.nvidia.com/blog/2016/10/27/wearable-device-for-blind-visually-impaired/" %}.
</p>
</br>

<!-- NEWS -->
{% include news.html %}
{% assign people = site.data.people %}
</br>

<!-- INTERESTS -->
<h3> Interests </h3>
<p>My research focuses on representation learning and meta-learning.</p>
<p>
  I am currently interested in understanding meta-learning algorithms and scaling them to complex heterogenous tasks and multimodal distributions.
  Although I mostly work on computer vision problems, my long term mission is to understand and build intelligent modular systems that can solve new problems with very weak supervision by re-using and improving previously acquired skills.
</p>
<p>
  I have always been fascinated by Game Theory. Recently, I have gained an interest in Multi-Agent Reinforcement Learning (MARL). 
  In particular, I am interested in the study of the learning dynamics of multiple agents and the emergence of cooperative behaviors. 
</p>
</br>


<!-- FEATURED PUBLICATIONS -->
<h3> Featured Work </h3>
<table style="margin-top:-12px;">
  {% for post in site.posts %}
    {{ post }}
  {% endfor %}
</table>
</br>


<!-- PERSONAL -->
<h3>Personal</h3>
<p>In my spare time, I practice yoga, read novels, and play guitar. When I need to relax, I cook. 
  When I'm not lazy, I go hiking and trekking. When I am sad or happy, I sing. When I can, I travel the world to learn about new cultures.</p>
<p> If you want to discuss anything or just connect, please drop me an email or reach me on Twitter or Linkedin!</p>
