---
title: Home
layout: default
redirect_from:
  - /about
  - /about/
---

{% assign people = site.data.people %}
{% assign matteo = "Prof. " | append: people.matteucci.name %}
{% assign barbara = "Prof. " | append: people.caputo.name %}
{% assign carlo = "Prof. " | append: people.ciliberto.name %}
{% assign jonathan = people.masci.name %}

<p>
    I am an {% include link.html name="ELLIS" href="https://ellis.eu/projects/bridging-theory-and-algorithms-for-lifelong-learning" %} Postdoc Researcher in the {% include link.html name="Visual And Multimodal Applied Learning"
    href="http://vandal.polito.it/" %} group at Politecnico di Torino.</br>
</p>
<p>
    I received my Ph.D. in Computer Science at Politecnico di Milano advised by
    {% include link.html name=matteo href=people.matteucci.scholar short=people.matteucci.name %}
    and {% include link.html name=jonathan href=people.masci.scholar short=people.masci.name %},
    where I focused on {% include link.html name="iterative and conditional"  href="https://www.politesi.polimi.it/handle/10589/170720" %} representation learning.<br>
    During my Ph.D. I was also a research intern at {% include link.html
    name="NVIDIA" href="https://www.nvidia.com/en-us/research" %} and
    {% include link.html name="NNAISENSE" href="https://nnaisense.com" %}.<br>
    Previously, I proudly worked at the development of {% include link.html
    name="Horus" href="https://www.youtube.com/watch?v=9TEJC5fXnu8" %}.
</p>

<p>I was Competition Track co-chair at NeurIPS in 2021, 2022 and 2023.</p>



<!-- INTERESTS -->
<h3> Interests </h3>
<p>
My research agenda is based on three pillars:
<ul>
    <li><b>Decentralized Learning</b>: to enable collaboration across users and sharing knowledge while preserving privacy and distributing computational efforts.</li>
    <li><b>Continual Learning</b>: to enable continuous knowledge integration allowing models to keep improving without forgetting previously acquired skills, unless on purpose.</li>
    <li><b>Modular Learning</b>: for creating models that are more reusable, efficient, and maintainable.</li>
</ul>
</p>


<!-- PERSONAL -->
<h3>Personal</h3>
<p>In my spare time, I practice yoga, read novels, and play guitar. When I need to relax, I cook.
  When I'm not lazy, I go hiking and trekking. When I am sad or happy, I sing. When I can, I travel the world to learn about new cultures.</p>
<p> If you want to discuss anything or just connect, please drop me an email or reach me on Twitter or Linkedin!</p>
