---
title: Teaching
layout: default
---

<p>I am not currently teaching any course.</p>

<h3>Talks</h3>
<ul>
    <li>{% include link.html name="Seminar on Adversarial Examples"  href="assets/talks/review_adv_ex.pdf" %}</li>
</ul>

<h3>Deep Learning 2017/2018 (Ph.D course)</h3>
<ul>
    <li>{% include link.html name="PyTorch 101"  href="assets/teaching/dl2018/dl2018-PyTorch101.pdf" %}</li>
    <li>{% include link.html name="Tensorflow 101" href="assets/teaching/dl2018/dl2018-TF101.pdf" %}</li>
    <li>{% include link.html name="[Guest Lecture] On the importance of depth and skip connections" href="assets/teaching/dl2018/dl2018-talk_skip_depth.pdf" %}</li>
</ul>

<h3>Cognitive Robotics 2016/2017 (M.Sc course)</h3>
<ul>
    <li>{% include link.html name="Course Introduction"  href="assets/teaching/cognitive2017/0-intro-dl.pdf" %}</li>
    <li>{% include link.html name="From Linear Models to Deep Neural Networks" href="assets/teaching/cognitive2017/1-deep-nns.pdf" %}</li>
    <li>{% include link.html name="Convolutional Neural Networks" href="assets/teaching/cognitive2017/2-cnns.pdf" %}</li>
    <li>{% include link.html name="Convolutional Arithmetics" href="assets/teaching/cognitive2017/conv-arithmetic.pdf" %}</li>
    <li>{% include link.html name="Recurrent Neural Networks" href="assets/teaching/cognitive2017/3-rnns.pdf" %}</li>
</ul>