<h3>News</h3>
    <ul>
        <li><b>March 2021</b>: I'm honored to be helping {% include link.html name="Douwe Kiela" href="https://scholar.google.com/citations?user=Q0piorUAAAAJ&hl=en" short="Douwe" %}  and {% include link.html name="Barbara Caputo" href="https://scholar.google.com/citations?user=mHbdIAwAAAAJ&hl=en" short="Barbara" %} organizing the Demos and Competitions tracks at NeurIPS 2021! See the Call for Competitions {% include link.html name="here" href="https://neurips.cc/Conferences/2021/CallForCompetitions" short="callComp" %}!</li>
        <li><b>17 Dec 2020</b>: {% include link.html name="SIMS" href="https://arxiv.org/pdf/2102.05026.pdf" short="SIMS" %} accepted as a full paper at AAMAS 20201!</li>
        <li><b>15 Dec 2020</b>: PhD thesis submitted for the external examination!</li>
        <li><b>Oct 2020</b>: I am excited to be one of the teachers for the tutorials at the {% include link.html name="M2L school" href="https://www.m2lschool.org/speakers" short="m2l" %}! See you in January! </li>
        <li><b>Aug 2020</b>: {% include link.html name="our work" href="https://marcocannici.github.io/matrixlstm" short="matrixlstm project page" %} on learning representations for event-based data has been accepted to ECCV2020!</li>
    </ul>
