<h3>News</h3>
    <ul>
        <li><b>17 Dec 2020</b>: {% include link.html name="SIMS" href="https://drive.google.com/file/d/1tWl-DWT53xy_QvX1WBtPEgKE9zS8bL7W/view" short="SIMS" %} accepted as a full paper at AAMAS 20201! Camera-Ready coming soon!</li>
        <li><b>15 Dec 2020</b>: PhD thesis submitted for the external examination!</li>
        <li><b>Oct 2020</b>: I am excited to be one of the teachers for the tutorials at the {% include link.html name="M2L school" href="https://www.m2lschool.org/speakers" short="m2l" %}! See you in January! </li>
        <li><b>Aug 2020</b>: {% include link.html name="our work" href="https://marcocannici.github.io/matrixlstm" short="matrixlstm project page" %} on learning representations for event-based data has been accepted to ECCV2020!</li>
    </ul>
