<h3>News</h3>
    <ul>
        <li><b>June 2026</b>: 3 papers accepted at ICML 2026 with great collaborators! {% include link.html name="TokSuite" href="https://arxiv.org/abs/2512.20757" %} (Oral), {% include link.html name="FlexRank" href="https://arxiv.org/abs/2602.02680" %} (Spotlight), and {% include link.html name="Recycling LoRAs" href="https://arxiv.org/abs/2602.12323" %}.</li>
        <li><b>February 2026</b>: I gave an invited talk at the Learning from Heterogeneous Sources Workshop at the {% include link.html name="Simons Institute" href="assets/talks/simons-fl_feb2026.pdf" %} in Berkeley on heterogeneity in Federated, Continual, and Modular Learning.</li>
        <li><b>December 2025</b>: See our tutorial on {% include link.html name="Model Merging" href="https://neurips.cc/virtual/2025/loc/san-diego/109593" %} at NeurIPS 2025!</li>
    </ul>


