{% assign people = site.data.people %}

{% if include.papers %}
<h3>{{ include.title }}</h3>
    {% for paper in include.papers %}
        <!-- Paper  -->
        <div class='paper_line'>
            {% if paper.link %}
                <a href="{{paper.link}}">{{ paper.title }}</a>.
            {% else %}
                <a id="forthcomingFont" href="{{paper.link}}">{{ paper.title }}</a>.
            {% endif %}

            {% if paper.appendix %}<a id="appendixFont" href="{{paper.appendix}}">Appendix</a>{% endif %}
            <a id="bibtexFont" href="{{ paper.bibtex }}">BibTex</a></div>
        <!-- Authors -->
        <div class='paper_line'>
            {% assign authors = '' | split: '' %}
            {% for key in paper.authors %}
                <!-- Add "*" if more than one first author -->
                {% if paper.first contains key %}
                    {% assign is_first = "*" %}
                {% else %}
                    {% assign is_first = "" %}
                {% endif %}
                <!-- Highlight "me" as author with any style and add complete name to the list -->
                {% comment %}
                {% if key == site.author.me %}
                    {% assign auth = "<u>" | append: people[key].name | append: "</u>" | append: is_first %}
                {% else %}
                    {% assign auth = people[key].name | append: is_first %}
                {% endif %}
                {% endcomment %}

                {% assign auth = people[key].name | append: is_first %}
                {% assign authors = authors | push: auth %}
            {% endfor %}
            <!-- Create a string of authors -->
            {{ authors | join: ", " }}.

            <!-- Create a string of Advisors (only if is thesis) -->
            {% if paper.advisors %}
                {% assign advisors = '' | split: '' %}
                {% for key in paper.advisors %}
                    {% assign adv = people[key].title | append: people[key].name %}
                    {% assign advisors = advisors | push: adv %}
                {% endfor %}
                Advised by {{ advisors | join: ", " }}
            {% endif %}
        </div>

        <!-- Venue -->
        <div class='paper_line'>
            <i>{{ paper.venue }}, {{paper.year}}</i>. {% if paper.award %}{{ paper.award }}{% endif %}
            {% if paper.early.link %}
                (Earlier version: <a href="{{paper.early.link}}">{{ paper.early.venue}}</a>)
            {% endif %}
        </div>
        <br>
    {% endfor %}

{% endif %}
