---
layout:
category: featured
title: "ReConvNet: Video Object Segmentation with Spatio-Temporal Features Modulation"
conference: "The DAVIS Challenge on Video Object Segmentation - CVPR Workshop 2018"
href: https://arxiv.org/abs/1806.05510
short: 
image: images/reconvnet_overview.jpg
alt: ReConvNet overview
author: Marco Ciccone
index: 3
---

{% assign people = site.data.people %}

<!-- Work -->
<tr style="border-bottom:1px solid #e5e5e5;">
    <!-- IMAGE -->
    <td>
        <img class="workPicture" src="{{ page.image }}" alt="{{ page.alt }}">
    </td>

    <!-- TITLE AND INFO -->
    <td>
        <br>
        <div id="indexWorkText">
            <!-- Title + Link -->
            <b>{% include link.html name=page.title href=page.href short=page.short %}</b>
            <br>
            <i>{{ page.conference}}</i> {% if page.award %} - <b>{{ page.award }}</b> {% endif%}
            <br>
            {% include link.html name="Leaderboard" href="https://davischallenge.org/challenge2018/publications.html" short="Davis 2018" %}
            
        </div>
        <br>
        <!-- One sentence description -->
        <div id="indexWorkText">
            We consider Video Object Segmentation from a Meta-Learning perspective where each task consists of segmenting objects in a video given a single annotation.
            We learn how to adapt the activations of a neural network to segment a given object via two modulation networks conditioned on the available information at test time.
        </div>
        <br>

        <!-- Collaborators -->
        <div id="indexWorkText">
            Joint work with  
            {% include link.html name=people.lattari.name href=people.lattari.scholar short=people.lattari.shortname %},
            {% include link.html name=people.matteucci.name href=people.matteucci.scholar short=people.matteucci.shortname %},
            {% include link.html name=people.masci.name href=people.masci.scholar short=people.masci.shortname %} and
            {% include link.html name=people.visin.name href=people.visin.scholar short=people.visin.shortname %}
        </div>
        <br>
    </td>
</tr>
