---
layout:
category: featured
title: "Coordination in Adversarial Sequential Team Games via Multi-Agent Deep Reinforcement Learning" 
conference: "preprint, 2019"
href: https://arxiv.org/abs/1912.07712
short: stac
image: images/stac_overview.jpg
alt: STAC overview
author: Marco Ciccone
index: 6
---

{% assign people = site.data.people %}

<!-- Work -->
<tr style="border-bottom:1px solid #e5e5e5;">
    <!-- IMAGE -->
    <td>
        <img class="workPicture" src="{{ page.image }}" alt="{{ page.alt }}">
    </td>

    <!-- TITLE AND INFO -->
    <td>
        <br>
        <div id="indexWorkText">
            <!-- Title + Link -->
            <b>{% include link.html name=page.title href=page.href short=page.short %}</b>
            <br>
            <i>{{ page.conference}}</i> {% if page.award %} - <b>{{ page.award }}</b> {% endif%}
        </div>
        <br>
        <!-- One sentence description -->
        <div id="indexWorkText">
            We condition team members over signals implementing a coordination-device via hyper-networks 
            to induce cooperative behaviors and learn to play correlated equilibria.
        </div>
        <br>

        <!-- Collaborators -->
        <div id="indexWorkText">
            Joint work with
            {% include link.html name=people.celli.name href=people.celli.scholar short=people.celli.shortname %},
            Raffaele Bongo and
            {% include link.html name=people.gatti.name href=people.gatti.scholar short=people.gatti.shortname %}
        </div>
        <br>
    </td>
</tr>
